body {
  background-color: #000;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

/***************************************************************************/
/********************************* Scroll Bar ******************************/
/***************************************************************************/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*********************************/
/************* Title  ************/
/*********************************/

#heading {
  position: Absolute;
  margin-left: 43%;
  padding-top: 20%;
  color: white;
  font-size: 25px;
  opacity: 1;
  height: 100%;
}

.border {
  border-bottom: 1px solid white;
  position: fixed;
  top: 1vh;
  left: 3vh;
  text-align: center;
}

.name {
  color: white;
  cursor: default;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  opacity: 0;
  animation: 5s ease 3s normal forwards 1 fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.est {
  margin-top: 3%;
  color: white;
  cursor: default;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: 5s ease 3.5s normal forwards 1 fadeIn;
}

#logo {
  position: fixed;
  top: 53vh;
  left: 4vh;
  animation: fadeOut ease 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .est {
    top: 5vh;
  }
}

@media screen and (max-width: 900px) {
  .est {
    top: 5vh;
  }
}

/*********************************************************************************************************************/
/**************************************************** About Us Page **************************************************/
/*********************************************************************************************************************/

.about {
  width: 90%;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  border-radius: 7px;
  background-color: #111;
}

@media screen and (max-width: 1000px) {
  .about {
    margin-top: 20%;
  }
}

#aboutText {
  float: right;
  max-width: 40%;
  margin-right: 50px;
  color: white;
  padding-top: 5%;
  text-align: center;
}

#aboutText h2 {
  color: #ff652f;
}

@media screen and (max-width: 1000px) {
  #aboutText {
    max-width: 55%;
    padding-left: 20px;
    margin-right: 30px;
    margin-top: 10%;
  }
}

/*******************************/
/************* Bars ************/
/*******************************/

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 50%;
  margin: auto;
  max-width: auto;
}

.html {
  animation: html 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  color: #001;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css {
  animation: css 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  color: #001;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.js {
  animation: js 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  color: #001;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jQuery {
  animation: jQuery 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  color: #001;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes js {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes jQuery {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.skillBars {
  position: absolute;
  width: 60%;
  top: 19%;
  color: white;
  margin-left: -100px;
  text-align: center;
}

.skillBars p {
  font-size: 15px;
  color: white;
  margin-top: 1%;
}

.skillBars h2 {
  color: #ff652f;
}

/********************************************************/
/************* Resume At The Bottom OF Page  ************/
/********************************************************/

.resume {
  padding-top: 35%;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
}

.resumeText {
  margin-top: -15px;
}

.resume h2 {
  text-align: center;
  color: #ff652f;
  padding-bottom: 9px;
}

.resumeinfo {
  font-size: 13px;
  margin-top: -10px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .resume {
    display: inline-block;
    margin-top: -20%;
  }
}
@media screen and (max-width: 1000px) {
  .resumeinfo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1000px) {
  .skillBars {
    padding-left: 12%;
    margin-top: 20%;
  }
}

/******************************************************************************************************************/
/************************************** Background ****************************************************************/
/******************************************************************************************************************/

.one,
head {
  color: transparent;
  font: 5vmin/0.5 Serif;
}

.one::before,
.one::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

.one::before {
  text-shadow: 0.0774337118em -0.0651792997em 7px rgba(255, 255, 255, 0.9),
    -0.030753395em -0.0055166791em 7px rgba(255, 255, 255, 0.9),
    0.5943454321em 2.0130289967em 7px rgba(255, 255, 255, 0.9),
    -0.4693997124em 0.0983352043em 7px rgba(255, 255, 255, 0.9),
    2.4719219081em 2.387824369em 7px rgba(255, 255, 255, 0.9),
    -0.0724915166em 1.9344860544em 7px rgba(255, 255, 255, 0.9),
    2.1967415876em 1.7180947525em 7px rgba(255, 255, 255, 0.9),
    0.5765886194em 0.711652939em 7px rgba(255, 255, 255, 0.9),
    0.766859628em 1.6483927664em 7px rgba(255, 255, 255, 0.9),
    2.2479453433em 1.1456078794em 7px rgba(255, 255, 255, 0.9),
    -0.4741225099em 1.8960702265em 7px rgba(255, 255, 255, 0.9),
    1.9946676194em 1.0888474417em 7px rgba(255, 255, 255, 0.9),
    -0.3937390887em -0.0243507715em 7px rgba(255, 255, 255, 0.9),
    1.8986415425em 1.0949363413em 7px rgba(255, 255, 255, 0.9),
    -0.2829463159em 1.3651019337em 7px rgba(255, 255, 255, 0.9),
    2.3027392884em 0.5301434473em 7px rgba(255, 255, 255, 0.9),
    0.9077212125em 2.1140141275em 7px rgba(255, 255, 255, 0.9),
    0.4224785531em 1.1860715191em 7px rgba(255, 255, 255, 0.9),
    1.5134502512em 0.7117868932em 7px rgba(255, 255, 255, 0.9),
    2.4452538393em 2.399170471em 7px rgba(255, 255, 255, 0.9),
    1.3438589577em 1.4079085589em 7px rgba(255, 255, 255, 0.9),
    1.2860824489em 1.1599160491em 7px rgba(255, 255, 255, 0.9),
    -0.1794381132em -0.2694585491em 7px rgba(255, 255, 255, 0.9),
    -0.0631699331em -0.0206801762em 7px rgba(255, 255, 255, 0.9),
    1.7489719147em -0.1866967284em 7px rgba(255, 255, 255, 0.9),
    2.1758756683em 0.4317672152em 7px rgba(255, 255, 255, 0.9),
    0.9934715989em 0.1553810482em 7px rgba(255, 255, 255, 0.9),
    0.7506255761em 0.0495351112em 7px rgba(255, 255, 255, 0.9),
    -0.2343039317em 1.8813466744em 7px rgba(255, 255, 255, 0.9),
    1.5289473849em 0.9446358629em 7px rgba(255, 255, 255, 0.9),
    2.1422762728em 2.3309891807em 7px rgba(255, 255, 255, 0.9),
    -0.4538524295em 0.0219829651em 7px rgba(255, 255, 255, 0.9),
    0.7966204023em 0.8847705902em 7px rgba(255, 255, 255, 0.9),
    0.1246364818em 0.6001788741em 7px rgba(255, 255, 255, 0.9),
    2.2922552575em 0.9015324228em 7px rgba(255, 255, 255, 0.9),
    2.1261311372em 1.6037327604em 7px rgba(255, 255, 255, 0.9),
    2.0999327268em -0.3032784067em 7px rgba(255, 255, 255, 0.9),
    1.0322527967em 2.0916442593em 7px rgba(255, 255, 255, 0.9),
    1.6896026504em 2.3851560106em 7px rgba(255, 255, 255, 0.9),
    0.1934486116em 1.5241671231em 7px rgba(255, 255, 255, 0.9),
    1.1063360854em 2.1438428557em 7px rgba(255, 255, 255, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

.one::after {
  text-shadow: 1.6575997558em 0.412685801em 7px rgba(255, 255, 255, 0.9),
    1.7159140057em 1.5557852747em 7px rgba(255, 255, 255, 0.9),
    0.4626505058em 2.0921867868em 7px rgba(255, 255, 255, 0.9),
    2.1584784226em -0.1066742417em 7px rgba(255, 255, 255, 0.9),
    -0.1366619194em 2.3219307274em 7px rgba(255, 255, 255, 0.9),
    1.1106496222em -0.2264836533em 7px rgba(255, 255, 255, 0.9),
    -0.4199395273em 0.8556786175em 7px rgba(255, 255, 255, 0.9),
    1.8893295003em -0.4947857984em 7px rgba(255, 255, 255, 0.9),
    1.7214096545em 2.0151865398em 7px rgba(255, 255, 255, 0.9),
    1.9119404018em -0.2157688587em 7px rgba(255, 255, 255, 0.9),
    1.1374689464em -0.0393641408em 7px rgba(255, 255, 255, 0.9),
    0.6509950831em 2.4873390304em 7px rgba(255, 255, 255, 0.9),
    0.9163755857em 1.9778937508em 7px rgba(255, 255, 255, 0.9),
    2.1045336747em 1.1609995507em 7px rgba(255, 255, 255, 0.9),
    2.0381750319em -0.0623463215em 7px rgba(255, 255, 255, 0.9),
    2.42948916em 0.4193833064em 7px rgba(255, 255, 255, 0.9),
    1.5871087316em 0.7010320987em 7px rgba(255, 255, 255, 0.9),
    1.0768830099em 2.4198162185em 7px rgba(255, 255, 255, 0.9),
    -0.382096248em 0.8658839232em 7px rgba(255, 255, 255, 0.9),
    0.1254066274em 0.0279395703em 7px rgba(255, 255, 255, 0.9),
    0.8504187753em 0.3743679343em 7px rgba(255, 255, 255, 0.9),
    -0.0869311597em 0.5931110921em 7px rgba(255, 255, 255, 0.9),
    1.1817515052em 0.7315653257em 7px rgba(255, 255, 255, 0.9),
    -0.2303336068em 1.7934790686em 7px rgba(255, 255, 255, 0.9),
    -0.2080037372em 2.4246254572em 7px rgba(255, 255, 255, 0.9),
    0.383646051em -0.1411391777em 7px rgba(255, 255, 255, 0.9),
    2.1427590008em 1.2715637531em 7px rgba(255, 255, 255, 0.9),
    0.9705511027em 2.1504429419em 7px rgba(255, 255, 255, 0.9),
    -0.0631312787em -0.3238773622em 7px rgba(255, 255, 255, 0.9),
    -0.2001708987em 1.9878261843em 7px rgba(255, 255, 255, 0.9),
    -0.1011568431em 1.6457987491em 7px rgba(255, 255, 255, 0.9),
    0.1520052793em 0.8998359985em 7px rgba(255, 255, 255, 0.9),
    1.2915689792em 1.7765264216em 7px rgba(255, 255, 255, 0.9),
    -0.3265984672em 2.2703227916em 7px rgba(255, 255, 255, 0.9),
    0.0109503072em 0.4303389483em 7px rgba(255, 255, 255, 0.9),
    0.2487911032em 1.3251650834em 7px rgba(255, 255, 255, 0.9),
    0.5391417322em 0.1450334675em 7px rgba(255, 255, 255, 0.9),
    -0.2260690248em 1.1860069891em 7px rgba(255, 255, 255, 0.9),
    -0.3216629663em 1.3794025144em 7px rgba(255, 255, 255, 0.9),
    0.5833659173em 1.0848391847em 7px rgba(255, 255, 255, 0.9),
    2.4359817327em 1.5480821804em 7px rgba(255, 255, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/******************************************************************************************************************/
/************************************** Contact Form **************************************************************/
/******************************************************************************************************************/

.titleContact {
  color: #ff652f;
  margin-bottom: 6%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: bold;
  background: none;
}

/* Form */
.sign-up {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  background-color: #111;
  border-radius: 7px;
  padding: 30px;
  color: #ff652f;
}

@media screen and (max-width: 1000px) {
  .formContact {
    width: 90%;
    margin-top: 25%;
  }
}

.formText {
  background: none;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0px;
  margin-top: 2px;
  color: white;
}

.formBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.formSubmitButton {
  background: none;
  border: 1px solid #ff652f;
}

.formSubmitButton:hover {
  background-color: #ff652f;
}
.formSubmitButton:focus {
  border: 1px solid #ff652f;
}

/************************************************************************************************************************/
/**************************************************** Login *************************************************************/
/************************************************************************************************************************/

.mainBody {
  width: 50%;
}

.formLogin {
  color: #ff652f;
  margin-top: 30%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 7px;
}

.mainArea {
  padding: 50px;
}

.signIntitle {
}

.submitButton {
  background: none;
  border: 1px solid #ff652f;
}

.submitButton:hover {
  background: #ff652f;
}

.signUpButton {
  background: none;
  border: 1px solid #ff652f;
  float: right;
}

.signUpButton:hover {
  background: #ff652f;
}

.signUpButtonPage {
  background: none;
  border: 1px solid #ff652f;
}

.signUpButtonPage:hover {
  background: #ff652f;
}

.error {
  margin: 15% 0 -16% 0;
  background-color: #ff652f;
  text-align: center;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 1000px) {
  .error {
    margin-top: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .mainBody {
    width: 90%;
  }
}

/************************************************************************************************************************/
/*************************************************** Nav Bar ************************************************************/
/************************************************************************************************************************/

span.nav-link,
a.nav-link {
  color: white !important;
  font-weight: 100 !important;
  display: inline-block;
}

a.nav-link:hover,
span:hover {
  color: rgba(255, 101, 47, 0.8) !important;
}

.nav-tabs .nav-link:focus,
.active-link:focus,
.active-link:active,
.active-link,
a.nav-link.active-link {
  border-bottom: 0.214rem solid rgba(255, 101, 47, 0.8) !important;
  color: rgba(255, 101, 47, 0.8) !important;
}

.nav,
.nav-tabs {
  color: rgba(255, 101, 47, 0.8) !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  background-color: #202020 !important;
}

.nav-link,
a {
  font-size: 0.9rem !important;
}

.navbar-nav .nav-link {
  padding-top: 1.1rem;
}

/************************************************************************************************************************/
/************************************************ Listings Page *********************************************************/
/************************************************************************************************************************/

.mainContent {
  margin-top: 7%;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  .mainContent {
    margin-top: 20%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.userTitle {
  color: white;
}

.content th {
  color: #ff652f;
}

.content {
  color: white;
}

/************************************************************************************************************************/
/************************************************ Portfolio Page *********************************************************/
/************************************************************************************************************************/

.portBody {
  max-width: 90%;

  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  padding: 0 2%;
}

.portTitle {
  text-align: center;
  color: #ff652f;
  padding-top: 5%;
  font-family: "Poppins", sans-serif;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

/* DEMO 3 ============================== */
.hover-3::after {
  content: "";
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
  padding-top: 10px;
}

.hover-3:hover .hover-overlay {
  /*background: rgba(0, 0, 0, 0.8);*/
  background: rgba(255, 101, 47, 0.8);
}

/*****************************************************************************************************************/
/************************************************ Footer *********************************************************/
/*****************************************************************************************************************/

.deleteButton {
  background: none;
  color: white;
  border: none;
}

/* --- GENERAL CLASSES FOR ALL PAGES --- */

@import url("https: //fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
}

.bg-custom-4 {
  background-color: #202020 !important;
}

input.form-control {
  height: 2.2rem;
}

.color-custom-1 {
  color: #20c1c9 !important;
}

.logo {
  display: inline-block !important;
}

.home {
  min-height: calc(100vh - 120px) !important;
}

.sign-in,
.sign-up,
.user-profile {
  min-height: calc(100vh - 165px) !important;
}

.find-patient {
  min-height: calc(100vh - 370px) !important;
}

.edit-patient {
  min-height: calc(100vh - 50px) !important;
}

.update-patient {
  min-height: calc(100vh - 142px) !important;
}

.update-record {
  min-height: calc(100vh - 380px) !important;
}

.form-control {
  background-color: #e8f0fe !important;
  background-image: none;
  padding: 0.5rem;
  border-radius: 3px;
}

label.text-muted {
  color: rgba(255, 101, 47, 0.8) !important;
}

h2,
p {
  color: white;
}

.create-patient h2,
.sign-in h2,
.sign-up h2,
.user-profile h2,
.find-patient h2,
.edit-profile h2,
.edit-patient h2,
.view-patient h2,
.update-patient h2 {
  text-transform: uppercase !important;
  text-align: center;
}

.user-profile img {
  border-radius: 5px !important;
}

.btn,
button {
  font-weight: 600;
  border-radius: 5px;
  color: #ff652f;
}

.mark {
  background-color: #202020;
  padding: 10px;
  border-radius: 3px;
}

.mark {
  background-color: #202020;
  padding: 10px;
  border-radius: 3px;
}

h2.heading {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.p-top-custom {
  padding-top: 1rem;
}
